<dl>
  <dt>
    <label for='category name'> Name:</label>
  </dt>
  <dd>
    <input id='category_name' type='text' name='category[name]' value='<%= @category.name %>' autofocus>
  </dd>
</dl>

<div class='clear_both'></div>